section {
  /* border: 1px solid blue; */
  display: flex;
  height: 570px;
  margin-bottom: 50px;
}

body .container_one {
  background-color: #024a69;
  border: 1px solid red;
  height: 570px;
  width: 57%;
}

body .container_one .group_one,
body .container_one .group_two {
  padding-left: 150px;
  width: 600px;
}

body .container_one img {
  height: 20px;
  width: 20px;
}

.container_one .group_one h1 {
  margin-bottom: 70px;
  margin-top: 50px;
  width: 450px;
}

.container_one .group_one p {
  color: #eaeaec;
  width: 450px;
}

.container_one .group_one .social_icons {
  text-align: right;
}

.container_one .group_one .social_icons img {
  /* border: 1px solid red; */
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
  width: 20px;
}

body .container_one .group_two {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.container_one .group_two p {
  color: #eaeaec;
}

.container_one .group_two .pair {
  margin-bottom: 10px;
}

body .pair {
  display: flex;
}

body .pair img {
  margin-right: 10px;
}

body .container_two {
  background-image: url(../imgs/contact_img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid green;
  height: 570px;
  width: 43%;
}
