body .header {
  background-image: url(../imgs/header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  padding: 85px 0px;
  padding-left: 250px;
}

body .header h3 {
  margin-bottom: 10px;
}

body .header h2 {
  margin-bottom: 25px;
  width: 443px;
}

body .header h1 {
  width: 543px;
}

body .about {
  padding-left: 250px;
  margin-bottom: 150px;
  margin-top: 50px;
  width: 475px;
}

body .about h2 {
  color: #024a69;
  margin-bottom: 35px;
}

body .about .img_of_kenyatta {
  height: 508.59px;
  position: absolute;
  right: 150px;
  top: 300px;
  width: 537px;
}

body .about h6 {
  color: #024a69;
  margin-bottom: 10px;
}

body .about .brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.about .brands img {
  height: 40px;
}
