.CTA {
  background: #e97770;
  border: 1px solid #e97770;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #f5f5f5;
  font-size: 16px;
  height: 43.1px;
  position: fixed;
  right: 0;
  top: 600px;
  width: 176px;
}

section .section_about {
  /* border: 1px solid blue; */
  height: 600px;
}
section .container_one,
section .container_three {
  background-color: #024a69;
  /* border: 1px solid green; */
  height: 100%;
  width: 57%;
}
section .container_one .container_group_one {
  display: flex;
  flex-direction: column;
  /* padding-left: 50px; */
  padding-top: 70px;
  margin-left: 100px;
  width: 800px;
}

.section_about .container_two {
  height: 550px;
  object-fit: cover;
  width: 100%;
}

body .service_question {
  background: #f2ecdb;
  border-radius: 14px;
  height: 200px;
  left: 400px;
  margin: auto;
  padding: 50px;
  position: absolute;
  top: 440px;
  width: 600px;
}

body .service_question h1 {
  color: #024a69;
  font-size: 24px;
  margin-bottom: 20px;
}

section .container_one {
  height: 550px;
  width: 50%;
}

section .fit {
  object-fit: cover;
  width: 100%;
}

body .section_about {
  display: flex;
  flex-direction: row;
}

.container_one .container_group_one h1 {
  font-size: 30px;
  padding-left: 50px;
  width: 600px;
}

section .service_copy {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-bottom: 100px;
  margin-top: 250px;
}

section .service_copy .left_side {
  margin-right: 150px;
  padding-left: 150px;
  width: 20%;
}

.service_copy .left_side .service_link {
  margin-bottom: 20px;
}
.left_side .service_link .pair {
  display: flex;
}

.left_side .service_link hr {
  margin-top: 15px;
}

.service_link .pair img {
  height: 20px;
  margin-right: 15px;
  width: 20px;
}

.service_link .pair p {
  color: #024a69;
  font-size: 16px;
}

section .service_copy .right_side {
  width: 700px;
}

.service_copy .right_side h1 {
  color: #024a69;
  margin-bottom: 75px;
  margin-top: 10px;
}

.service_copy .right_side .dropDownService {
}

.dropDownService .dropDownGroup .group_header {
  display: flex;
  margin-bottom: 25px;
}

.dropDownGroup .group_header img {
  height: 20px;
  margin-right: 15px;
  width: 20px;
}

.dropDownGroup .group_header h5 {
  color: #024a69;
  font-size: 16px;
}

.dropDownGroup .show_hide p {
  margin-bottom: 50px;
}

.dropDownGroup .show_hide .pair {
  display: flex;
}

.show_hide .pair p {
  margin-bottom: 10px;
}

.show_hide .pair img {
  height: 20px;
  margin-right: 15px;
  width: 20px;
}

.dropDownService hr {
  border: 0.5px solid #02577a;
  margin-top: 30px;
}

.dropDownService .dropDownGroup .show_hide {
  display: flex;
  flex-direction: column;
}

/* MEDIA QUERY */
@media only screen and (max-width: 1024px) {
  section .fit {
    height: 400px;
  }
  body .service_question {
    left: 0px;
    right: 0px;
    top: 400px;
    height: 200px;
    width: 500px;
  }

  section .container_one {
    height: 400px;
  }

  .container_one .container_group_one h1 {
    font-size: 24px;
    line-height: 40px;
    padding-left: 0px;
    width: 375px;
  }

  section .container_one .container_group_one {
    padding-left: 0px;
  }

  .service_link .pair p {
    font-size: 12px;
  }

  section .service_copy .left_side {
    padding-left: 100px;
    margin-right: 75px;
    width: 200px;
  }

  section .service_copy {
    margin-bottom: 100px;
    margin-top: 150px;
  }

  section .service_copy .right_side {
    width: 500px;
  }

  .show_hide .pair img {
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }

  .CTA {
    border-radius: 2px;
    font-size: 12px;
    top: 700px;
    width: 100px;
  }

  body .service_question h1 {
    color: #024a69;
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .container_one .container_group_one h1 {
    font-size: 20px;
    line-height: 34px;
    width: 275px;
  }

  section .container_one .container_group_one {
    margin-left: 50px;
    width: 400px;
  }

  section .service_copy .left_side {
    display: none;
  }

  section .service_copy .right_side {
    padding-left: 50px;
    width: 80%;
  }

  h1 {
    margin-bottom: 25px;
    margin-top: 10px;
  }

  .service_copy .right_side h1 {
    margin-bottom: 25px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 425px) {
  body .section_about {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0px;
  }
  body .section_about .container_one {
    flex-direction: column;
    margin-bottom: 200px;
    width: 100%;
  }

  section .container_one .container_group_one {
    padding-left: 0px;
    margin-left: 0px;
    width: 100%;
  }

  body .service_question {
    left: 0px;
    right: 0px;
    top: 350px;
    height: 300px;
    width: 200px;
  }

  .container_one .container_group_one h1 {
    font-size: 18px;
    line-height: 40px;
    padding-left: 0px;
    padding: 0px 25px;
    margin: auto;
    text-align: center;
    width: 80%;
  }

  body .service_question h1 {
    color: #024a69;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  section .fit {
    width: 100%;
  }

  section .service_copy {
    flex-direction: column;
    width: 100%;
  }

  .footer_services,
  .about_blog {
    display: none;
  }

  .CTA {
    display: none;
  }

  section .service_copy .right_side {
    padding: 0px 50px;
    width: 80%;
  }

  section .service_copy .left_side {
    display: none;
    padding-left: 100px;
    margin-right: 0px;
    width: 200px;
  }

  section .service_copy {
    margin-bottom: 100px;
    margin-top: 40px;
  }

  .section_about .container_two {
    height: 100%;
  }

  .service_copy .right_side h1 {
    margin-bottom: 25px;
    margin-top: 0px;
    font-size: 14px;
  }
}
